<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">TryThis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each cats}}
          <a class="dropdown-item" href="/home/{{this.id}}">{{this.name}}</a>
          {{/each}}
          <a class="dropdown-item" href="/home/">All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/newitem">New Recomendation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin">Admin</a>
          
        </div>
      </li>
              <h3>{{msg}}</h3>
    </ul>
  </div>
</nav>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <ol id="item-list">
          {{#each items}}
          <li data-id="{{this.id}}">

          <b>{{this.Category.name}}: </b><b>{{this.text}}</b><a>. -{{this.Author.name}}</a><br>
          <a>   {{this.note}}</a><br>
                <ul>
                {{#each this.Reviews}}
                  <li>
                <a>{{comment}}</a><a>. -{{Author.name}}</a>
                  </li>
                {{/each}}
                </ul>
          </li>
          {{/each}}
        </ol>
        <a href="newitem">Enter new recommendation</a><br>
        <a href="newreview">Enter new review/comment</a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/index.js"></script>

