<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">TryThis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {{!-- dropdown bar with categories --}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#each cats}}
          <a class="dropdown-item" href="/home/{{this.id}}">{{this.name}}</a>
          {{/each}}
          <a class="dropdown-item" href="/home/">All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/newitem">New Recomendation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin">Admin</a>
          {{!-- Header when a category is selected --}}
        </div>
      </li>
      <h3>{{msg}}</h3>
    </ul>
  </div>
</nav>
{{!-- List of items/recommendations that are collapsible --}}
<div class="accordion" id="accordionExample">
  {{#each items}}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapseOne">
          {{this.text}}
        </button>
        <a class="small"> -{{this.Author.name}}</a>
      </h5>
    </div>
    {{!-- Collapside section with reviews/notes --}}
    <div id="collapse{{this.id}}" class="collapse hide" aria-labelledby="headingOne">
      <div class="card-body">
        <a>Category: {{this.Category.name}}</a><br>
        <a>{{this.Author.name}}'s initial note: {{this.note}}</a><br>
        <a>Comments:</a>
        <ul>
          {{#each this.Reviews}}
          <li>
            <a>{{comment}}</a><a>. -{{Author.name}}</a>
          </li>
          {{/each}}
        </ul>
        <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#butcollapse{{this.id}}" aria-expanded="false" aria-controls="butcollapseOne">
          Add Comment
        </button>
        <div id="butcollapse{{this.id}}" class="collapse hide" aria-labelledby="butheadingOne">
        <form class="form-inline">
          <div class="form-group">
            <textarea class="form-control" id="review" aria-describedby="review" placeholder="I think....."></textarea>
          </div>
          <button type="submit" id="revsubmit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
</div>

        <a href="../newitem">Enter new recommendation</a><br>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW4oqk_YoWGWV3Fp0MrNcyg_hhDcTjus8&libraries=places"></script>
<script src="/js/index.js"></script>